
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <form [formGroup]="this.BookingService.form">
      <div class="logo"><img src="assets/img/a.jpg" width="300px" height="180px">
        <h5 class="card-title text-center">HallName</h5>
      </div>
                
       <h5 class="card-title text-center">New Booking</h5>
                    
      <div class="form-group">
        <label >Name</label>
        <input type="text" id="inputName" class="form-control" placeholder="Name" required >
      </div>
      <div class="form-group">
        <label >Reg.Number</label>
        <input type="text" id="inputNumber" class="form-control" placeholder="Reg.Number" required>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="Email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      </div>
      <div class="form-group">
        <label >Hall Name</label>
        <input type="text" id="inputHallName" class="form-control" placeholder="Hall Name" required >
      </div>
                          
      <div class="form-label-group">
        <label >Session Name</label>
        <input type="text" id="inputSessionName" class="form-control" placeholder="Session Name" required >
      </div>
      
      <!--time!-->
      <!--date!-->
     </form>
     
   </div>
   
   
  
</div>

