
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <a class="navbar-brand" href="#">HRAC System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="Home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="!user">
            <a class="nav-link" routerLink="SignIn">SignIn</a>
          </li>
          <li class="nav-item" *ngIf="!user">
            <a class="nav-link" routerLink="SignUp">SignUp</a>
          </li>
          <li class="nav-item" *ngIf="user">
            <a class="nav-link" routerLink="Attendance">Attendance</a>
          </li>
          <li class="nav-item" *ngIf="user">
            <a class="nav-link" routerLink="HallReservation">Hall-Reservation</a>
          </li>
          <li class="nav-item" *ngIf="user">
            <a class="nav-link" routerLink="Dashboard/dashboard-admin">Dash-board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="SignUp">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="SignUp">Contact</a>
          </li>
        </ul>
        <div *ngIf="user">
          <button type="button" class="btn btn-sm btn-outline-primary">{{user.email}}</button>
        </div>
        <div *ngIf="user" style="margin-left:5px;">
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="authService.logout()">SignOut</button>
        </div>
        
      </div>
    </nav>

    