<div class="card" style="width: 100%">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <hr>
                <h5 class="card-title">Feel free to make a Booking request!</h5>
                <p class="card-text">Check the schedular to make sure your time schedule is available.</p>
                <a href="#" class="btn btn-success">Make booking Request</a>
                <hr>
            </div>
            <div class="col">
                <hr>
                <img src="../../assets/img/hall.jpg" width="20%" height="70%">
               
            </div>
            
    </div>
    </div>
  </div>
<app-calender></app-calender>
