

 
    <div class="card-body">
      <h5 class="card-title">User Management</h5>
      <p class="card-text">Insert Students by adding their index Numbers and RFID tag Numbers.</p> 
      <form [formGroup]="IndexForm">
        <div class="form-group">
          <label for="IndexNumber">Student Index Number</label>
          <input type="text" class="form-control" formControlName="IndexNumber" id="IndexNumber" style="width:50%;" [ngClass]="{ 'is-invalid': (IndexNumber.touched && IndexNumber.invalid) || (IndexNumber.value && IndexNumber.invalid) }" placeholder="Index Number (eg:1700XXXX).">
         <div *ngIf="IndexNumber.value && IndexNumber.dirty" class="invalid-feedback">
  {{ IndexNumber.value }} is already taken
</div>

<div *ngIf="!IndexNumber.value" class="invalid-feedback">
              Index Number is required
  </div>

<div *ngIf="IndexNumber.pending" class="notification is-info">
   <div class="spinner-border spinner-border-sm text-success" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>    Checking availability of {{ IndexNumber.value }}
</div>
        </div>
        
        
        <div class="form-group">
            <label for="RFIDNumber">RFID card Number</label>
            <input type="text" class="form-control" formControlName="RFIDNumber" id="RFIDNumber" style="width:50%;" [ngClass]="{ 'is-invalid': (RFIDNumber.touched && RFIDNumber.invalid) || (RFIDNumber.value && RFIDNumber.invalid) }" placeholder="Enter RFID Number">
            <div *ngIf="!RFIDNumber.value" class="invalid-feedback">
              RFID Number is required
            </div>

            <div *ngIf="RFIDNumber.value && RFIDNumber.dirty" class="invalid-feedback">
            {{ RFIDNumber.value }} is already taken
            </div>

            <div *ngIf="RFIDNumber.pending" class="notification is-info">
            <div class="spinner-border spinner-border-sm text-success" role="status">
                <span class="sr-only">Loading...</span>
                </div>    Checking availability of {{ RFIDNumber.value }}
            </div>
          </div>

          <div class="form-group">
            <label for="stream">Academic Section</label>
            <div class="input-group mb-3" style="width:50%;">
                <select class="custom-select" id="stream"  formControlName="stream" [ngClass]="{'is-invalid': stream.touched && stream.invalid}">
                  <option value="IS">Information Systems</option>
                  <option value="CS">Computer Science</option>
                </select>
                <div class="input-group-append">
                  <label class="input-group-text" for="stream">stream</label>
                </div>
                <div *ngIf="stream.touched && stream.invalid" class="invalid-feedback">
                   Select whether Computer Science or Information Systems.
                  </div>
              </div>
          </div>

          <div class="form-group">
            <label for="year">Academic Year</label>
            <div class="input-group mb-3" style="width:50%;">
                <select class="custom-select" id="year" formControlName="academicYear" style="width:50%;" [ngClass]="{'is-invalid': academicYear.touched && academicYear.invalid}">
                  <option value="1">1st Year</option>
                  <option value="2">2nd Year</option>
                  <option value="3">3rd Year</option>
                  <option value="3">4th Year</option>
                </select>
                <div class="input-group-append">
                  <label class="input-group-text" for="year">Year</label>
                </div>
                <div *ngIf="academicYear.touched && academicYear.invalid" class="invalid-feedback">
                    Academic Year is required.
                  </div>
              </div>
              
          </div>
        
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Insert Student</button>
      </form>    
      <p>
            
    <table class="table table-hover">
      <thead>
        <th>IndexNumber</th>
        <th>RFIDNumber</th>
        <th>Stream</th>
        <th>Year</th>
        <th></th>
      </thead>
      <tbody>
          <tr *ngFor="let order of list">
            <td>
              {{ order.payload.doc.data().IndexNumber }}
            </td>
            <td>{{ order.payload.doc.data().RFIDNumber }}</td>
            <td>{{ order.payload.doc.data().stream }}</td>
            <td>{{ order.payload.doc.data().academicYear }}</td>
            <td
              
              (click)="deleteUser(order)"
            >
            <div class="btn-remove">
                Remove
            </div>
            </td>
            <td
              
            (click)="onEdit(order)"
          >
          <div class="btn-remove">
              Update
          </div>
          </td>

          </tr>
        </tbody>
    </table>

</div>

    