<!-- Default form register -->
<div>
    <div class="col-lg-12">
     <div class="card">
         <div class="sm-jumbotron text-center">
            <h2 style="font-family: Georgia; font-style:bold;">User Registration</h2>
         </div>
        

<form  class="text-center border border-light p-5" #form="ngForm" (submit)="onSubmit(form)" autocomplete="off" action="#!">

    <!-- <p class="h4 mb-4">Sign up</p> -->

    <div class="form-row">
        <div class="col">
            <!-- user name -->
            <input type="text" required  name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName"  class="form-control" required  placeholder="User Name" >
        <small class="text-danger" *ngIf="UserName.touched && !UserName.valid">User name is required</small>
        </div>
        <div class="col"> 
            <!--passwors --> 
            
            <input type="password" required minlength="8" [(ngModel)]="user.Password" name="Password" #Password="ngModel" class="form-control" placeholder="Password" >
            <small class="form-text text-muted">
                    At least 8 characters and 1 digit
            </small>
            <div class="text-danger" *ngIf="Password.touched && Password.invalid"> 
                <small *ngIf="Password.errors.required">Password required</small>
                <small *ngIf="Password.errors.minlength">Password is not strong</small>
            </div>
            
        </div>
    </div>

    <!-- E-mail -->
    
    <input type="email" required [pattern]="emailPattern"  name="Email" #Email="ngModel" [(ngModel)]="user.Email" class="form-control mb-3" placeholder="E-mail">
    <div class="text-danger" *ngIf="Email.touched && Email.invalid"> 
        <small *ngIf="Email.errors.required">Email required</small>
        <small *ngIf="Email.errors.pattern">Enter a valid Email</small>
    </div>

    <!-- First name -->
    <input type="text" required name="FirstName"  #FirstName="ngModel" [(ngModel)]="user.FirstName" class="form-control mb-3" placeholder="First Name">
    <small class="text-danger" *ngIf="FirstName.touched && !FirstName.valid">First name is required</small>
   
   
    <!-- Phone number -->
    <input type="tel" name="Phone"  pattern="^\d{10}$" #Phone="ngModel" (ngModel)="user.Phone" class="form-control" placeholder="Phone number">
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        Optional - for two step authentication
    </small>
    <div *ngIf="Phone.errors">
        <!-- error property on the ng ngModel -->
        <!-- <small class="text-danger" *ngIf="Phone.errors.required">phone number is required</small> -->
        <small class="text-danger"*ngIf="Phone.errors.pattern">phone number must be 10 digits</small>      </div>

    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <!-- Sign up button -->
    <button [disabled]="form.form.invalid" class="btn btn-info my-4 btn-block" type="submit" >Sign in</button>

    <!-- Social register -->
    <!-- <p>or sign up with:</p>

    <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

    <hr>
 -->
    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>

</form>
     </div>

</div>
</div>

<!-- Default form register -->