<table class=" table table-hover">
   <thead>
       <th>Full name</th>
       <th>Hall name</th>
       <th>Subject code</th>
       <th>Subject</th>
       <th>Time</th>
   </thead> 
   <tbody>
       <tr *ngFor="let b of list">
           <td>{{b.name}}</td>
           <td>{{b.session}}</td>
           <td>{{b.code}}</td>
           <td>{{b.lecture}}</td>
           <td>{{b.time}}</td>
           <td><a class="btn text-danger" (click)="onDelete(b.id)"><i class="fa fa-trash"></i></a></td>
       </tr>
   </tbody>
</table>