<table class="table table-sm">
    <thead>
        <th>Name</th>
        <th>index number</th>
        <th>Hall Name</th>
        <th>date</th>
        <th>time</th>
        <th></th>
        <tr class ="table-dark">
            <td>d</td>
            <td>d</td>
            <td>d</td>
            <td>d</td>
            <td>d</td>
            <td>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger" (click)="onDelete()">Delete</button>
            </td>
        </tr>
    </thead>
</table>
<div class="alert alert-danger" *ngIf="showDeleteMessage">
    Delete Successfully.
</div>
