<div class="jumbotron">
    <h5>Student Attendance</h5>
    <div class="card">
<div class="card-main">
    <div class="label"> <p class="md-17" style="width: 300px;text-align: left;">Registration Number : 2017CS004</p></div>
    <div class="label"><p class="md-17" style="width: 300px;text-align: left;">Student Name : RAMESH AKSSHAR</p></div>
        <div class="label"><p class="md-17" style="width: 300px;text-align: left;">Computer Science</p></div>
      
           
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed numquam expedita eum, unde veniam fugit? Reiciendis voluptates unde laborum reprehenderit, voluptatem deserunt necessitatibus quibusdam non, magnam expedita, modi dolorem blanditiis!</p>
                <p>
                    <a class="btn btn-primary" href="#" role="button">Contact for help &raquo;</a>
                </p>
                </div>
    </div>
</div>