<div class="jumbotron">
    <h5>Student Attendance</h5>
    <div class="card">
<div class="card-main">
        <div class="alert alert-light" role="alert">
                Registration Number : 2017CS004
        </div>

        <div class="alert alert-light" role="alert">
                Student Name : RAMESH AKSSHAR
        </div>
        <div class="alert alert-light" role="alert">
                2019 SEMESTER 2
        </div>

            <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Subject Code</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Total-days</th>
                        <th scope="col">Attendance</th>
                        <th scope="col">Percentage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">SCS 1202</th>
                        <td>Database</td>
                        <td>15</td>
                        <td>7</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar bg-success "  role="progressbar" style="width: 48%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">48%</div>
                            </div>
                        </td>
                      </tr>
                      <tr>
                            <th scope="row">SCS 1202</th>
                            <td>Database</td>
                            <td>15</td>
                            <td>7</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-success"  role="progressbar" style="width: 48%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">48%</div>
                                </div>
                            </td>
                          </tr>

                          <tr>
                                <th scope="row">SCS 1202</th>
                                <td>Database</td>
                                <td>15</td>
                                <td>7</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-success"  role="progressbar" style="width: 48%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">48%</div>
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                    <th scope="row">SCS 1202</th>
                                    <td>Database</td>
                                    <td>15</td>
                                    <td>7</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success "  role="progressbar" style="width: 48%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">48%</div>
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                        <th scope="row">SCS 1202</th>
                                        <td>Database</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-success "  role="progressbar" style="width: 48%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">48%</div>
                                            </div>
                                        </td>
                                      </tr>
                                      <tr>
                                            <th scope="row">SCS 1202</th>
                                            <td>Database</td>
                                            <td>15</td>
                                            <td>7</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-success"  role="progressbar" style="width: 48%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">48%</div>
                                                </div>
                                            </td>
                                          </tr>
                    </tbody>
                  </table>
                  <div class="card-signin">
                  <h5 class="card-title text-center">Average Attendance</h5>
                  <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                  </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed numquam expedita eum, unde veniam fugit? Reiciendis voluptates unde laborum reprehenderit, voluptatem deserunt necessitatibus quibusdam non, magnam expedita, modi dolorem blanditiis!</p>
                <p>
                    <a class="btn btn-primary" href="#" role="button">Contact for help &raquo;</a>
                </p>
                </div>
    </div>
</div>