<div class="card" style="width: 100%">
    <div class="card-body">
        <div class="card-text">
            <h3 class="hall-title">Wellcome To HRAC Hall Reservation</h3> 
            <hr>
            <div class="row">
                <div class="col">
                    <div class="card card-hall" style="width: 18rem">
                        <div class="cart-body">
                            <div>Lecture hall-Id :</div>
                            <div>Seating Capacity :</div>
                            <div>Status :</div>
                            <button class="btn btn-sm btn-success">Inspect for booking</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>