<div class="card" style="width: 100%">
    <div class="card-body">
        <div class="card-text">
            <h3 class="hall-title">Wellcome To HRAC Hall Reservation</h3> 
            <hr>
            <div class="row">
                <div class="col-md-3" *ngFor="let hall of ListOfhalls" style="margin-top: 30px;">
                    <div class="card card-hall" style="width: 18rem">
                        <div class="cart-body">
                            <div class="card-title"><strong>{{hall.HallNumber}}</strong></div>
                            <div>Seating Capacity : <strong>{{hall.Capacity}}</strong></div>
                            <div *ngIf="hall.isAvailable">
                                <div style="color: rgb(16, 181, 16);padding-bottom: 10px;"><strong>Status : Available</strong></div>
                                <button class="btn btn-sm btn-success">Inspect for booking</button>
                            </div>
                            <div *ngIf="!hall.isAvailable">
                                <div style="color: rgb(235, 51, 112);padding-bottom: 10px;"><strong>Status : Not-Available</strong></div>
                                <button class="btn btn-sm btn-secondary" disabled>Inspect for booking</button>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>