<div class="row">
    <div class="col-md-2">
            <nav class="d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link">
                            <p class="nav-data" (click)="showdashboard()">Dashboard</p></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" >
                            <p class="nav-data" (click)="showusers()">Manage Users</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                            <p class="nav-data" (click)="showbooking()">Manage Booking</p></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link">
                          <p class="nav-data" (click)="showmangehalls()">Manage Halls</p></a>
                      </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <p class="nav-data">Manage Access</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <p class="nav-data">Inquaries</p></a>
                        </li>
                      </ul>
            
                      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Manage Attendance</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                          <span data-feather="plus-circle"></span>
                        </a>
                      </h6>
                      <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                          <a class="nav-link">
                                <p class="nav-data" (click)="showcurrentsem()">Current semmester</p></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <p class="nav-data">View Timetable</p></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <p class="nav-data">
                            Social engagement
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <p class="nav-data">
                            Year-end sale
                          </a>
                        </li>
                      </ul>
                    </div>
                  </nav> 
    </div>
    <div class="card" class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>







