.nav-data{
    border: 1px solid #28a745;
    color: #28a745;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
}
.nav-data:hover{
    background-color: #28a745;
    color: #ffffff;
    cursor: pointer;
}
.main{
    text-align: center;
}

input{

        border-radius:1rem; 
        border-color:#292b2c;
}