

    <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 ">
            <h2 class="name">Our Halls</h2>
           
            <button type="button" class="btn btn-primary" >ADD NEW </button>
            
  
          </div>
          
        </div>
        
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-0 thumbnail"><img src="../assets/images/a.jpg" alt="Image" class="img-fluid"></a>
              <div class="hotel-room-body">
                <h3 class="heading mb-0"><a href="#">Name</a></h3>
                <div class="Type"> Type</div>
                <div class="seats"> Seats</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-0 thumbnail"><img src="../assets/images/e.jpg" alt="Image" class="img-fluid"></a>
              <div class="hotel-room-body">
                <h3 class="heading mb-0"><a href="#">Name</a></h3>
                <div class="Type"> Type</div>
                <div class="seats"> Seats</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-0 thumbnail"><img src="../assets/images/c.jpg" alt="Image" class="img-fluid"></a>
              <div class="hotel-room-body">
                <h3 class="heading mb-0"><a href="#">Name</a></h3>
                <div class="Type"> Type</div>
                <div class="seats"> Seats</div>
              </div>
            </div>
          </div>
  
          <div class="col-md-6 col-lg-3 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-0 thumbnail"><img src="../assets/images/d.jpg" alt="Image" class="img-fluid"></a>
              <div class="hotel-room-body">
                <h3 class="heading mb-0"><a href="#">Name</a></h3>
                <div class="Type"> Type</div>
                <div class="seats"> Seats</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-0 thumbnail"><img src="../assets/images/b.jpg" alt="Image" class="img-fluid"></a>
              <div class="hotel-room-body">
                <h3 class="heading mb-0"><a href="#">Name</a></h3>
                <div class="Type"> Type</div>
                <div class="seats"> Seats</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-0 thumbnail"><img src="../assets/images/c.jpg" alt="Image" class="img-fluid"></a>
              <div class="hotel-room-body">
                <h3 class="heading mb-0"><a href="#">Name</a></h3>
                <div class="Type"> Type</div>
                <div class="seats"> Seats</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-0 thumbnail"><img src="../assets/images/d.jpg" alt="Image" class="img-fluid"></a>
              <div class="hotel-room-body">
                <h3 class="heading mb-0"><a href="#">Name</a></h3>
                <div class="Type"> Type</div>
                <div class="seats"> Seats</div>
              </div>
            </div>
          </div>
        
  
  