<main role="main">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-3">
          <h3>Welcome To .</h3>
          <h1>HRAC SYSTEM</h1>
          <a class="btn btn-primary" style="background-color: blueviolet;color: #ffffff;border-color: blueviolet;" *ngIf="!user" routerLink="SignUp" role="button">Register now and discover more &raquo;</a>
        </div>
        <div class="col-md-9" style="border-left:2px solid blueviolet;">
          <h1>How Our System Works!</h1>
          <p>Most of the students in universities forge signatures for their daily attendance to cover the necessary percentage. Our system provides a RFID card that allow students to markup their attendance by scanning the card for the specific lectures on particular time. After scanning all the students’ details are added to the database of the system. This prevents the forgeries happening in attendance system. </p>
          <p>The next purpose of this system is to reserve halls for the events conducted inside the university without facing any difficulties. A central administrator controls the reservation time and allow the users to book the available hall on that particular date and time. This helps to avoid the time clashes prevailed in booking a hall for events.</p>
          <p>As our next purpose, we planned to build an access providing system for users to get into some certain places. It means the system scans the RFID card and verifies whether the user can access the certain place or not. This improves a location secured access system inside the universities. </p>
          <p>
          </p>
        </div>
      </div>
      <hr>
      <div class="col-sm-8 mx-auto">
        <img src="assets/img/image.png" width="100%" height="70%">
      </div>
    </div>
  </main>